{% extends "admin/base.html" %}
{% load admin_static %}
{#% load i18n admin_reorder_tag %#}
{% load smartdna_tags %}
<head>
{% block extrahead %}
{#% admin_reorder %#}
{% endblock %}
{# Additional CSS includes #}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/smartdna.css' %}" media="all">
<style>
.status-column{
width:12%;
}
</style>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/smartdna.js' %}"></script>
{% endblock %}
</head>

<body> 
{% block footer_links %}
{% if user.is_authenticated %}
 <p>{% last_login_details %}</p>
{% endif %}
{% endblock %}

{% block header_content %}
  {{ block.super }}
<div class="header-content">
<!-- First icon column -->
<div class="header-column icon">
<i class="icon-ok-circle"></i><br>
            <!--<i class="icon-cog"></i>-->
        </div>
        <div class="header-column" style="margin-right: 20px">
            <a href="/dashboard/main/" class="grey">DASHBOARD</a><br>
            <!--<a href="" class="grey">One more link</a>-->
        </div>
        <!-- Second icon column -->
        {% if user.is_superuser %}
            <!-- Second icon column -->
            <div class="header-column icon">
                <i class="icon-cog"></i>
            </div>
            <div class="header-column">
                <a href="/settings/" class="grey">Settings</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

Footer branding name (center) 
{% block footer_branding %}
<!--<a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>-->
{% endblock  %}
{# Footer copyright (right side) 
{% block copyright %}
Copyright &copy; 2016-17 <a href="http://www.linksmartdna.com/" target="_blank">Linksmart Technologies</a><br>
sAMM <span>{% app_version %}</span>
{% endblock %}
n</body>
