{% extends "admin/base.html" %}
{% load admin_static %}
{% load url from future %}
{% load i18n %}
{% load suit_tags %}
{% load smartdna_tags %}
<head> 
<title>{% block title %}{{'Export Data'}} | {{ 'ADMIN_NAME'|site_title}}{% endblock %}</title>
{% block extrahead %}
{% endblock %}
{# Additional CSS includes #}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/smartdna.css' %}" media="all">
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>
{% endblock %}
</head>

<body> 
<div id="content-main">
{% block content %}
    {% if app_list %}
      {% for app in app_list %}
        <div class="module">
        <table class="table-overview applist" summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
            <caption><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></caption>
            {% for model in app.models %}
              <tr>
                <th scope="row">{{ model.name }}</th>
                {% if model.admin_url %}
                  <td>
                    <a href="{{ model.admin_url }}" class="changelink icon">{% trans 'Change' %}</a>
                  </td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}

                {% if model.add_url %}
                  <td><a href="{{ model.add_url }}" class="addlink icon"><i
                          class="icon-plus-sign icon-alpha75"></i>{% trans 'Add' %}
                  </a></td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    {% endif %}
  </div>
<div style="padding:0;" class="container-fluid">
<div class="table-responsive">
<form action="" method="POST">
{% csrf_token %}
        <table style="margin-left:36%;">
        {{ form.as_table }}
        </table>
        <input style="margin-left:37%;" class="btn btn-primary" type="submit" name="Export" value="Export Data"/>
        <input class="btn btn-primary" type="submit" name="Display" value="Display Data"/>
</form>
<p style="color:red;margin-left:34%;float:center;">{{message}}</p>
</div>
<div>
<p>smarDNA™ technology is supported by security-as-service paradigm. One aspect of this is to ensure data reunion & archival for audit purposes. For bigger deployment , in order to save storage cost for archived smartDNA™ authentication records, cloud application has in-built export functionality which can be used for exporting authentication record in standard excel format on local PC along with visual data (images) as well. Excel records is associated with visual data and if need arises for audit purpose the relevant visual data can be referred in specific folder.  This feature can be used along with auto-delete feature. Let us say, if auto-delete policy is configured to purge records older than one month automatically then the ideal export frequency should be less than monthly.  Since visual data occupies large space those will be deleted, if already exported.</p>
</div>
{% endblock %}
{% block footer_links %}
 <p>{% last_login_details %}</p>
<!--<a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>-->
{% endblock %}

{% block header_content %}
  {{ block.super }}
<div class="header-content">
<!-- First icon column -->
<div class="header-column icon">
<i class="icon-ok-circle"></i><br>
            <!--<i class="icon-cog"></i>-->
        </div>
        <div class="header-column" style="margin-right: 20px">
            <a href="/dashboard/main/" class="grey">DASHBOARD</a><br>
            <!--<a href="" class="grey">One more link</a>-->
        </div>
        {% if user.is_superuser %}
            <!-- Second icon column -->
            <div class="header-column icon">
                <i class="icon-cog"></i>
            </div>
            <div class="header-column">
                <a href="/settings/" class="grey">Settings</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

Footer branding name (center) 
{% block footer_branding %}
<!--<a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>-->
{% endblock %}


{# Footer copyright (right side) 
{% block copyright %}
Copyright &copy; 2016-17 <a href="http://www.linksmartdna.com/" target="_blank">Linksmart Technologies</a><br>
sAMM <span>{% app_version %}</span>
{% endblock %}
</body>
